*{
  padding: 0;
  margin: 0;
}

body{
  display: flex;
  background-color: white;
  justify-content: center;
  font-family: "Bai Jamjuree", sans-serif;
  background-repeat: no-repeat;
  background-image: url(bg-header-desktop.png);
}

.logo-c{
  display: flex;
  margin-top: 100px;
}

.box-1{
  align-items: center;
  display: flex;
  flex-direction: column;
}

.history-h1{
  margin-top: 45px;
  color: #515a5f;
  font-size: 31px;
  font-weight: 500;
}

.para-1{
  width: 495px;
  text-align: center;
  margin-top: 12px;
  color: #bcc1c4;
  font-weight: 500;
}

.buton{
  display: flex;
  gap: 25px;
  margin-top: 45px;
  
}


.btn-ios{
  padding: 14px;
  border-radius: 25px;
  border: none;
  width: 180px;
  background-color: #26bba5;
  color: white;
  cursor: pointer;
  box-shadow: 4px 8px 20px #d0f5ea;
  transition: 0.5s;
}

.btn-ios:hover{
  background-color: #5dccbb ;
}

.btn-mac{
  background-color: #6477ff;
  box-shadow: 18px 8px 25px #e7ebfe;
  color: white;
  padding: 14px;
  border-radius: 25px;
  border: none;
  width: 180px;
  cursor: pointer;
  transition: 0.5s;
}

.btn-mac:hover{
  background-color: #8896ff ;
}

.box-2{
  margin-top: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.keep-h2{
  color: #404549;
  font-weight: 600;
  font-size: 25px;
}

.para-2{
  width: 630px;
  text-align: center;
  margin-top: 14px;
  color: #b4b9bb;
}

.box-3{
  display: flex;
  gap: 65px;
  margin-top: 75px;
}

.img-com{
  width: 500px;
  margin-left: 25px;
}

.box-4{
  display: flex;
  flex-direction: column;
}

.quick{
  margin-top: 25px;
  color: #5e646a;
}

.para-3{
  width: 330px;
  margin-top: 7px;
  font-size: 14px;
  color: #b4b9bb;
  line-height: 25px;
}
.icloud{
  margin-top: 25px;
  color: #5e646a;
}

.para-4{
  width: 330px;
  margin-top: 7px;
  font-size: 14px;
  color: #b4b9bb;
  line-height: 25px;
}
.complete{
  margin-top: 25px;
  color: #5e646a;
}

.para-5{
  width: 330px;
  margin-top: 7px;
  font-size: 14px;
  color: #b4b9bb;
  line-height: 25px;
}

.box-5{
  display: flex;
  flex-direction: column;
  margin-top: 85px;
  align-items: center;
}

.access{
  color: #404549;
  font-weight: 600;
}

.para-6{
  width: 590px;
  margin-top: 14px;
  text-align: center;
  color: #b4b9bb;
}

.devices-img{
  margin-top: 75px;
  width: 720px;
}

.box-6{
  display: flex;
  flex-direction: column;
  margin-top: 55px;
}

.super{
  color: #404549;
  font-weight: 600;
}

.para-7{
  color: #b4b9bb;
  font-size: 13px;
  text-align: center;
  margin-top: 13px;
}

.box-7{
  display: flex;
  gap: 35px;
  margin-top: 25px;
}

.black-list{
  display: flex;
  margin-top: 45px;
  flex-direction: column;
  align-items: center;
}

.black-img{
  height: 35px;
  width: 35px;
}

.black-list-h3{
  color: #404549;
  text-align: center;
  margin-top: 25px;
}

.para-black-list{
  width: 350px;
  text-align: center;
  margin-top: 15px;
  line-height: 25px;
  color: #b4b9bb;
  font-size: 14px;
}  

.box-8{
  display: flex;
  gap: 90px;
  margin-top: 145px;
}

.box-8 img{
  width: 120px;
}

.box-9{
  display: flex;
  flex-direction: column;
  margin-top: 115px;
  text-align: center;
}

.clipboard-h2{
  color: #404549;
  font-size: 28px;
  font-weight: 700;
}

.para-8{
  width: 600px;
  margin-top: 16px;
  color: #b4b9bb;
  font-size: 14px;
}

.box-10{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.log-img img{
  display: flex;
  align-items: end;
}